<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <tr>
        <th>NAME </th>
        <th>Phone Number</th>
    </tr>
    <p th:text = "${addressbook.myBuddies}"></p>
    <tr th:each="buddy : ${addressbook.myBuddies}">
        <td th:text="${buddy.name}"></td>
        <td th:text="${buddy.phoneNumber}"></td>
    </tr>
</table>

<form action="#" th:action="@{/Greeting}" th:object="${newBuddy}" method="post">
    Name: <input type="text" th:field="*{name}"> <br>
    Phone Number: <input type="text" th:field="*{phoneNumber}"> <br>
    <button type="submit">Add new buddy</button>
</form>

</body>
</html>